:root{
    --darkRed: #7E0E0D;
    --yellow: #FFEE00;
}
body{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* COMMON */
.grid{
    display: grid;
}
.flex{
    display: flex;
}
button{
    background-color: transparent;
    border: none;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
#menu-container{
    display: none;
    position: fixed;
    z-index: 12;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
#menu-container button{
    font-size: 3rem;
    width: 25%;
    margin-left: 75%;
}
#menu-container nav{
    width: 100%;
    height: 100%;
    gap: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#menu-container nav a{
    text-decoration: none;
    color: #000;
}
/* HEADER */
header{
    width: 100vw;
    height: 10vh;
    padding: 12px;
    grid-template-columns: 10% 70% 20%;
    grid-template-rows: 100%;
}
header nav{
    display: none;
}
header img{
    width: 100%;
    height: 100%;
}
header button{
    grid-column: 3 / 4;
}
/* INTRO */
.intro-container{
    background-color: var(--darkRed);
    height: 100vh;
    padding-top: 10%;
    overflow: hidden;
    grid-template-rows: 20% 80%;
}
.titleSvg{
    padding-top: 3%;
    height: 90%;
}
#intro-text{
    fill: var(--yellow);   
    stroke: var(--yellow);
    font-size: 3rem;
}
.white-circle{
    left: -10%;
    height: 100%;
    width: 120%;
    background-color: #fff;
    border-radius: 50%;
}
.silouette-img{
    height: 130%;
    z-index: 2;
    bottom: 0%;
    left: -172%;
}
#taco-truck-img{
    top: 25%;
    width: 80%;
    left: 15%;
    z-index: 3;
}
.intro-container button{
    z-index: 4;
    font-size: 1rem;
    bottom: 10%;
    color: var(--yellow);
    border: 4px solid var(--darkRed);
    width: 40%;
    margin-left: 30%;
    padding-top: 3vw;
    padding-bottom: 3vw;
}
/* MENU SECTION */
.price-badge{
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 20vw;
}

.price-badge img{
    z-index: 1;
    top: 0;
    left: 0;
}
.price-badge p{
    z-index: 2;
    color: var(--yellow);
    font-weight: bold;
    font-size: 1.2rem;
}
.yellow-badge p{
    color: var(--darkRed);
}
.item-card{
    height: 100%;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 50% 20% 10%;
}
.item-card *{
    text-align: center;
}
.item-card div{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.item-card img{
    width: 100%;
    height: 100%;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.item-card h3{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    padding-top: 7%;
    font-size: 36px;
    font-weight: bold;
}
.item-card >p{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    color: gray;
    font-weight: bold;
}
/* items list */
.items-list{
    list-style: none;
    flex-direction: column;
    gap: 10vh;
}
.items-list li{
    height: 60vh;
}
/* section */
section{
    padding: 25px 15px;
}
section h2{
    text-align: center;
    font-size: 34px;
    padding-top: 50px;
    margin-bottom: 5vh;
}
section h2::after{
    display: block;
    content: ' ';
    margin: 0 auto;
    width: 20%;
    height: 2px;
    background-color: #7E0E0D;
}
.sides-section{
    background-color: #7E0E0D;
    color: #fff;
}
.location-section{
    background-color: #D8D8D8;
}
/* beverages */
.beverages-list li article > img{
    width: 40%; 
    margin: 0 auto;
}
/* LOCATION */
.map{
    padding: 25px;
    background-color: #FFFFFF;
}
.location-card{
    background-color: #fff;
    flex-direction: column;
    padding: 8px;
}
.location-card p{
    padding: 10px 0;
}
.location-card p a{
    color: #000;
    text-decoration: none;
}
.location-card p:first-child{
    font-weight: bold;
    font-size: 1.4rem;
    border-bottom: 1px solid gray;
}
footer {
    text-align: center;
    padding: 15px;
}
/* media quieries */
@media screen and (min-width: 768px) {
    .items-list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-evenly;
    }
    .items-list li{
        width: 45%;
        margin-bottom: 2vh;
        padding: 10px;
    }
    /* LOCATION SECTION */
    .location-section{
        height: 50vh;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 80%;
    }
    .location-section h2{
        grid-column: 1 /3;
        grid-row: 1 / 2;
        padding: 0;
        margin: 0;
    }
    .location-section iframe{
        height: 100%;
    }
    .location-card{
        height: 50%;
        width: 80%;
        margin-left: 10%;
       justify-content: center;
    }
    .location-card p:first-child{
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 1024px){
    header{
        grid-template-columns: 100%;
        align-items: center;
        background-color: var(--darkRed);
    }
    header > img{
        display: none;
    }
    header button{
        display: none;
    }
    header nav{
        display: block;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    header nav a{
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }
    /* intro container */
    .intro-container{
        padding-top: 0;
        background-color: blue;
    }
    .titleSvg{
        padding-top: 0;
        height: 100%;
    }
    .white-circle{
        width: 50%;
        left: 25%;
    }
    #taco-truck-img{
        top: 15%;
        width: 40%;
        left: 30%;
        z-index: 3;
    }
    .silouette-img{
        height: 130%;
        z-index: 2;
        bottom: 0%;
        left: -30%;
    }
    .intro-container button{
        font-size: .8rem;
        width: 15%;
        margin-left: 42.5%;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
    .items-list li{
        width: initial;
        flex: 1 0 21%;
        /* margin-bottom: 2vh;
        padding: 10px; */
    }

    .item-card h3{
        font-size: 18px;
    }
    .item-card p{
        font-size: 12px;
    }
    .sides-section ul li{
        flex:initial;
    }
    .location-section{
        background-color: #D8D8D8;
        height: 80vh;
    }
}